[Unit]
Requires=network.target remote-fs.target
After=network.target remote-fs.target

[Service]
Type=simple
User=kafka
ExecStart=/bin/sh -c '{{ installation_dir }}/latest/bin/kafka-server-start.sh {{ installation_dir }}/latest/config/kraft/server.properties'
ExecStop={{ installation_dir }}/latest/bin/kafka-server-stop.sh
Restart=on-abnormal

[Install]
WantedBy=multi-user.target